<div *ngIf="!auth.isAuthenticated()" (click)="auth.login()" style="cursor: pointer;">
  <a class="user-login">
    <i class="user circle outline icon"></i>
    Login
  </a>
</div>

<div *ngIf="auth.isAuthenticated()">
  <span class="user-legend">
    <img class="ui avatar image" src="{{ auth.getProfile()?.picture}}">
    <span>{{ auth.getProfile()?.name }}</span>
    <i class="dropdown icon"></i>
    <a class=" ui red label mini">22</a>
  </span>

  <div class="ui popup bottom left transition hidden user-cp-exp">
    <div class="ui cards">
      <div class="card" style="width: 30rem;box-shadow: none;">
        <div class="content">
          <img class="right floated tiny ui image" src="{{ auth.getProfile()?.picture}}">
          <div class="header">
            {{ auth.getProfile()?.name }}
          </div>
          <div class="meta">
            ({{ auth.getProfile()?.nickname }} )
          </div>
          <div class="meta">
            Last Login : {{ auth.getProfile()?.updated_at | date }}
          </div>
        </div>
        <div class="extra content align left">
          <span class="">
            <i class="icon announcement red"></i>
            Notifications
          </span>
          <div class="ui message">
            <div class="header">
              Changes in Service
            </div>
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
          </div>
          <div class="ui icon three buttons align middle center centered" style="margin-top: 1rem;">
            <button class="ui button"><i class="step backward step icon"></i></button>
            <button class="ui button"><i class="step forward icon"></i></button>
            <!--<button class="ui button"><i class="play icon"></i></button>-->
            <button class="ui button"><i class="check circle icon green"></i></button>
          </div>

        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button"><i class="wrench icon"></i>User Settings</div>
            <div class="ui basic red button" (click)="auth.logout()"><i class="external icon"></i>Logout</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
