<mm-header-bar></mm-header-bar>
<mm-banner></mm-banner>
<mm-footer></mm-footer>
<!--<h1>-->
  <!--<i class="fa fa-check"></i>-->
  <!--{{title}}-->
  <!--<button class="btn btn-primary">Test Button</button>-->
  <!--<i class="fa fa-check btn btn-primary"></i>-->
<!--</h1>-->


<!--<div class="dropdown">-->
  <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--Dropdown button-->
  <!--</button>-->
  <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
    <!--<a class="dropdown-item" href="#">Action</a>-->
    <!--<a class="dropdown-item" href="#">Another action</a>-->
    <!--<a class="dropdown-item" href="#">Something else here</a>-->
  <!--</div>-->
<!--</div>-->
