<main>
  <div class="ui labeled button" tabindex="0" (click)="toggleModal($event)">
    <div class="ui button">
      <i class="heart icon"></i> Like Angular 2
    </div>
    <a class="ui basic label">
      +100
    </a>
  </div>
  <div class="ui basic modal" [hidden]="!showModal">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Archive Old Messages
    </div>
    <div class="content">
      <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button" (click)="toggleModal()">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button" (click)="toggleModal()">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
    <!--<img src="../../public/images/angular.png">-->
</main>
