<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-inverse mb-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="flex-row d-flex">
    <a class="navbar-brand mb-1" href="#">{{ appTitleTxt }}</a>
  </div>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto my-auto">
      <li class="nav-item">
        <mm-user-profile-ind></mm-user-profile-ind>
      </li>
    </ul>
  </div>
</nav>
