<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./assets/semantic/semantic.css">
    <script src="./assets/semantic/semantic.js"></script>
</head>

<body>
<app>Loading...</app>
</body>

<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server -->
<script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
<% } %>

</html>